<!-- Header Formatting -->
<html>
{% include header.html %}
<body class="w3-black">
{% include navigation.html %}
<div class="w3-padding-large" id="main"> 
<div class="w3-padding-large" id="main"> 

<h2 class="w3-text-white">Awards</h2>
  <hr style="width:200px" class="w3-opacity">

  <button onclick="myAccFunc('academic')" class="accordion w3-padding-16 w3-theme w3-button w3-block w3-left-align">Academic Awards</button>
  <div id="academic" class="w3-hide w3-show">
    <br>
    <div class="w3-container">
      <div class="w3-card-4 w3-grey" style="width:100%">
        <div class="w3-container w3-center">
          <p>
            <a href="https://cra.org/about/awards/outstanding-undergraduate-researcher-award/#2020">Outstanding Undergraduate Researcher Honorable Mention</a>: 2020<br>
            <a href="https://furi.engineering.asu.edu/participant/basque-zion/">ASU FURI Distinguished Research</a>: 2020<br>
            <a href="https://fullcircle.asu.edu/graduate/zion-basque/">ASU Impact Award</a>: 2020<br>
            <a href="https://news.asu.edu/20210503-celebrating-120-years-asu-moeur-award">ASU Moeur Award (4.0 GPA)</a>: 2020<br>
            <a href="https://www.afcea-hawaii.org/20170110_05/">AFCEA Student of the Month</a>: 2017<br>
          </p>
        </div>
      </div>
    </div><br>
  </div>


  <button onclick="myAccFunc('scholarships')" class="accordion w3-padding-16 w3-theme w3-button w3-block w3-left-align">Scholarships</button>
  <div id="scholarships" class="w3-hide">
    <br>
    <div id="scholarships" class="w3-container">
      <div class="w3-card-4 w3-grey" style="width:100%">
        <div class="w3-container w3-center">


          <p>
          
          <a href=
          "https://www.iamcybersafe.org/s/2020-isc2-scholarship-recipients">
          Center for Cyber Safety and Education Scholarship (Undergrad)</a>: 2020 - 2022
          <br>
          
          <a href=
          "https://www.pauahi.org/2014/08/15/david-and-julia-desha-trust-bequeaths-500000-to-kamehameha-schools/">
          David and Julia Desha Scholarship</a>: 2019 - 2020
          <br>

          <a href=
          "https://www.coca-colascholarsfoundation.org/apply/">APIA/Coca-Cola
          Foundation Scholarship</a>: 2019 - 2020
          <br>
          
          <a href=
          "https://apps.ksbe.edu/financialaid/post-highscholarships/">
          Naho'okama Scholarship</a>: 2018 - Present
          <br>

          <a href=
          "https://apps.ksbe.edu/financialaid/post-highscholarships/mauo/">
          Pauahi Mauo Scholarship</a>: 2018 - Present
          <br>
          
          <a href=
          "https://www.hawaiicommunityfoundation.org/THINKFund">
          Hawaii THINK STEM Scholarship Fund</a>: 2018 - Present
          <br>

          <a href=
          "https://smartscholarshipprod.service-now.com/smart">DoD
          SMART Scholar</a> (not-accepted): 2018
          <br>
          
          <a href=
          "https://students.asu.edu/scholarships/newamericanuniversity">
          ASU New American Deans Award</a>: 2017 - 2021
          <br>
          
          ASU Grant: 2017 - 2021
          <br>

          <a href= "http://the.honoluluadvertiser.com/article/2003/Dec/03/ln/ln44a.html">
          Hokulii Scholarship</a>: 2017-2018</p>
        </div>        
      </div>
    </div><br>
  
  </div><button onclick="myAccFunc('competitions')" class="accordion w3-padding-16 w3-theme w3-button w3-block w3-left-align">Competitions</button>
  <div id="competitions" class="w3-hide">
    <br>
    <div class="w3-container">
      <div class="w3-card-4 w3-grey" style="width:100%">
        <div class="w3-container w3-center">
          <p>CTF Hacking Competitions: 2017 - Present; Over 15
          top 10 wins. (See Projects)<br>
          <a href="http://hacc.hawaii.gov/">Hawaii State
          Hackathon</a>: 1st (Open School Division), 2016<br>
          <a href="https://mualphatheta.org/">Mu Alpha Theta</a>
          National Math Competition: 3rd, 5th, 5th; 2014 -
          2017</p>
        </div>
      </div>
    </div><br>
  </div>
  
</div>


{% include footer.html %}
</body>
</html>